In [1]:
# #Abhay and Alex Big Data Project

# # # Run only ONCE: Install necessary Python libraries

# # # # Install pandas for data manipulation
#  !pip install pandas

# # # # Install scikit-learn for machine learning models and metrics
#  !pip install scikit-learn

# # # # Install matplotlib for plotting the ROC curve
#  !pip install matplotlib

In [2]:
# Load necessary libraries

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, roc_curve

In [3]:
# Step 1 Load the dataset 
file_path = 'loan_approval_dataset.csv'
loan_df = pd.read_csv(file_path)
loan_df.head(15)

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
5,6,0,Graduate,Yes,4800000,13500000,10,319,6800000,8300000,13700000,5100000,Rejected
6,7,5,Graduate,No,8700000,33000000,4,678,22500000,14800000,29200000,4300000,Approved
7,8,2,Graduate,Yes,5700000,15000000,20,382,13200000,5700000,11800000,6000000,Rejected
8,9,0,Graduate,Yes,800000,2200000,20,782,1300000,800000,2800000,600000,Approved
9,10,5,Not Graduate,No,1100000,4300000,10,388,3200000,1400000,3300000,1600000,Rejected
10,11,4,Graduate,Yes,2900000,11200000,2,547,8100000,4700000,9500000,3100000,Approved
11,12,2,Not Graduate,Yes,6700000,22700000,18,538,15300000,5800000,20400000,6400000,Rejected
12,13,3,Not Graduate,Yes,5000000,11600000,16,311,6400000,9600000,14600000,4300000,Rejected
13,14,2,Graduate,Yes,9100000,31500000,14,679,10800000,16600000,20900000,5000000,Approved
14,15,1,Not Graduate,No,1900000,7400000,6,469,1900000,1200000,5900000,1900000,Rejected

In [4]:
# Step 2: Identify columns with missing values
missing_values = loan_df.isnull().sum()
print("Columns with missing values:\n", missing_values[missing_values > 0])

Columns with missing values:
 Series([], dtype: int64)

In [5]:
if 'loan_id' in loan_df.columns:
    print("Column 'loan_id' exists in the DataFrame.")
else:
    print("Column 'loan_id' not found in the DataFrame.")

Column 'loan_id' exists in the DataFrame.

In [6]:
# Step 3: Drop irrelevant columns
loan_df = loan_df.drop(['loan_id'], axis=1)

In [7]:
if 'loan_id' in loan_df.columns:
    print("Column 'loan_id' exists in the DataFrame.")
else:
    print("Column 'loan_id' not found in the DataFrame.")

Column 'loan_id' not found in the DataFrame.

In [8]:
#Strip blank spaces from column headers
loan_df.columns = loan_df.columns.str.strip().str.lower().str.replace(' ', '_')

In [9]:
negative_values = loan_df['residential_assets_value'][loan_df['residential_assets_value'] < 0]

# Display the rows with negative values, if any
print("Negative values found:\n", negative_values)

# Count of negative values
print("Number of negative values:", len(negative_values))

Negative values found:
 59     -100000
196    -100000
559    -100000
702    -100000
737    -100000
784    -100000
904    -100000
1089   -100000
1163   -100000
1350   -100000
1392   -100000
1773   -100000
1806   -100000
1866   -100000
1933   -100000
1950   -100000
2707   -100000
3019   -100000
3164   -100000
3180   -100000
3431   -100000
3730   -100000
3747   -100000
3962   -100000
4076   -100000
4130   -100000
4206   -100000
4243   -100000
Name: residential_assets_value, dtype: int64
Number of negative values: 28

In [10]:
#Get rid of negative values
loan_df['residential_assets_value'] = loan_df['residential_assets_value'].apply(lambda x: max(x, 0))

In [11]:
negative_values = loan_df['residential_assets_value'][loan_df['residential_assets_value'] < 0]

# Check once more to ensure code to remove negative values worked
print("Negative values found:\n", negative_values)

# Count of negative values
print("Number of negative values:", len(negative_values))

#Expected output: 0 negative values

Negative values found:
 Series([], Name: residential_assets_value, dtype: int64)
Number of negative values: 0

In [12]:
# Check the unique values in the education column
print("Unique values in 'education':", loan_df['education'].unique())

Unique values in 'education': [' Graduate' ' Not Graduate']

In [13]:
print(loan_df.columns)

Index(['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'residential_assets_value',
       'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value',
       'loan_status'],
      dtype='object')

In [14]:
loan_df['education'] = loan_df['education'].str.strip()

In [15]:
loan_df['self_employed'] = loan_df['self_employed'].str.strip()

In [16]:
print("Unique values in 'education':", loan_df['education'].unique())

Unique values in 'education': ['Graduate' 'Not Graduate']

In [17]:
# Encoding categorical variables
loan_df['education'] = loan_df['education'].map({'Graduate': 1, 'Not Graduate': 0})
loan_df['self_employed'] = loan_df['self_employed'].map({'Yes': 1, 'No': 0})
# loan_df['self_employed'] = loan_df['self_employed'].map({'Yes': 1, 'No': 0})
# loan_df['loan_status'] = loan_df['loan_status'].map({'Approved': 1, 'Rejected': 0})

In [18]:
# Display the first few rows of the encoded columns
print(loan_df[['education', 'self_employed', 'loan_status']].head())

   education  self_employed loan_status
0          1              0    Approved
1          0              1    Rejected
2          1              0    Rejected
3          1              0    Rejected
4          0              1    Rejected